BASE_URL=https://app.seudominio.com
EVOLUTION_DOMAIN=https://evolution.seudominio.com
EVOLUTION_GLOBAL_KEY=cole_sua_global_key_aqui
EVOLUTION_INSTANCE_NAME_ADMIN=nome_instancia_admin
EVOLUTION_INSTANCE_KEY_ADMIN=cole_o_token_admin_aqui
REDIS_URL=redis://SEU_HOST_REDIS:6379/0

# opcional para rodar sem Docker com python app.py
APP_PORT=80
